@import '~/styles/vars'

/*
 * Charte :
 * Fond = `#2e5849`
 * Fond Input = `#1c382f`
 * Bordure Input = `#183129`
 * Ombre interne Input = `25px` `rgba(0,0,0,.1)`
 * Ombre interne Input Focus = `25px` `rgba(0,0,0,.5)`
 * Texte Input = `#fff`
 * Placeholder Input = `rgba(255, 255, 255, .5)`
 * Fond Tâche = `#eee`
 * Bordure tâche = `#ccc`
 */

body
  background: #2e5849